.my-footer {
    width:100%;
    /* border-top:1px solid green; */
    text-align:right;
    height:25px;
    background:white;
}

.my-footer span{
    text-align:right;
    font-size:18px;
    width:100%;
    margin-right:20px;
}

#nav_menu{
    height:60px;
    background:linear-gradient(to right, red , yellow);
    text-align:center;
}
@media all and (max-width: 207px) {
    #nav_menu{
        height:180px;
        background:linear-gradient(to right, red , yellow);
        text-align:center;
    }
}
@media all and (min-width: 208px) and (max-width: 695px) {
    #nav_menu{
        height:120px;
        background:linear-gradient(to right, red , yellow);
        text-align:center;
    }
}
@media all and (min-width: 696px) {
    #nav_menu{
        height:60px;
        background:linear-gradient(to right, red , yellow);
        text-align:center;
    }
}



/* @media all and (min-width: 1025px) {
    #nav_menu{
        height:120px;
        background:linear-gradient(to right, red , yellow);
        text-align:center;
    }
} */

#nav_menu ul {
    list-style-type:none;
    
    /* 좌측 여백 없애기 */
    padding-left:0px;
    /* 우측 정렬 하기 */
}
    
#nav_menu ul li {
    
    display:inline;
    
    border-left: 1px solid #c0c0c0;
    
    /* 테두리와 메뉴 간격 벌리기. padding: 위 오른쪽 아래 왼쪽; */
    
    padding: 0px 10px 0px 10px;
    
    /* 메뉴와 테두리 사이 간격 벌리기. margin: 위 오른쪽 아래 왼쪽; */
    
    margin: 5px 0px 5px 0px;
    
}
    
#nav_menu ul li:first-child {
    
    border-left: none;
    
}
html,body{
    height:100%;
  }
  body{
    text-align:center;
  }
  body:before{
    content:'';
    height:100%;
    display:inline-block;
    vertical-align:middle;
  }

  
@media all and (max-width: 207px) {
    button{
        background:#1AAB8A;
        color:#fff;
        border:none;
        position:relative;
        height:60px;
        text-align:center;
        width:13%;
        font-size:0.8em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
      }
}
@media all and (min-width: 208px) and (max-width: 767px) {
    button{
        background:#1AAB8A;
        color:#fff;
        border:none;
        position:relative;
        height:60px;
        text-align:center;
        width:13%;
        font-size:1.3em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
      }
}
@media all and (min-width: 768px) {
    button{
        background:#1AAB8A;
        color:#fff;
        border:none;
        position:relative;
        height:60px;
        text-align:center;
        width:13%;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
      }
}

  button:hover{
    background:#fff;
    color:#1AAB8A;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
